*, *:before, *:after {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #fff;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 30px;
}

.title-container {
  display: flex;
}

.logo {
  width: 270px;
  height: 68px;
  background: url("../images/logo.jpg") no-repeat;
}

.title {
  padding-top: 30px;
  padding-left: 12px;
  font-size: 20px;
}

.rating-container {
  display: flex;
  align-items: baseline;
}

.rating-text {
  margin-right: 19px;
  font-size: 13px;
  color: #9b9a9a;
}

.rating-btn {
  display: block;
  height: 33px;
  margin-top: 18px;
  padding: 6px 53px 9px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #4a4a4a;
  background: #ffe719 url("../images/star.png") no-repeat 86% 40%;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #ddb906;
  transition: all .2s linear;
}

.rating-btn:hover {
  background-color: #ffb619;
  box-shadow: inset 0 -2px 0 0 #dd9106;
}

.region-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px 32px 76px;
  border-radius: 4px;
  background: url("../images/region-icon.png") no-repeat 23px 5px;
}

.region-name > strong {
  margin-right: 12px;
  font-size: 28px;
  font-weight: 400;
  color: #000;
}

.region-automatic-text {
  padding-left: 2px;
  font-size: 13px;
  line-height: 15px;
  color: #9b9a9a;
}

.region-change-btn {
  margin-top: 3px;
  color: #9b9a9a;
  line-height: 18px;
  border-bottom: 1px dashed #9b9a9a;
  cursor: pointer;
  transition: all .2s linear;
}

.region-change-btn:hover {
  color: #4c7fd9;
  border-color: #4c7fd9;
}

.select-region-form {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 853px;
  padding: 7px 0 2px 3px;
  background-color: #fff;
}

.select-region {
  width: 609px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
  background: #fff url("../images/bottom-arrow.png") 589px 20px no-repeat;
  -webkit-appearance: none;
}

.select-region:focus {
  outline: none;
}

.select-region-submit {
  width: 163px;
  height: 44px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #4bae49;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #418c12;
  border: none;
  transition: all .2s linear;
  cursor: pointer;
}

.select-region-submit:hover {
  background-color: #2f982d;
  box-shadow: inset 0 -2px 0 0 #29790b;
}

.select-region-submit:focus {
  outline: none;
}

.select-region-cancel {
  font-size: 13px;
  color: #9b9a9a;
  background-color: transparent;
  transition: all .2s linear;
}

.select-region-cancel:hover {
  color: #4c7fd9;
}

.select-filter {
  width: 609px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
  background: #fff url("../images/bottom-arrow.png") 589px 20px no-repeat;
  -webkit-appearance: none;
}

.select-filter:focus {
  outline: none;
}

.select-filter-submit {
  width: 163px;
  height: 44px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #4bae49;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #418c12;
  border: none;
  transition: all .2s linear;
  cursor: pointer;
}

.select-filter-submit:hover {
  background-color: #2f982d;
  box-shadow: inset 0 -2px 0 0 #29790b;
}

.select-filter-submit:focus {
  outline: none;
}

.select-filter-cancel {
  font-size: 13px;
  color: #9b9a9a;
  background-color: transparent;
  transition: all .2s linear;
}

.select-filter-cancel:hover {
  color: #4c7fd9;
}

.white-container {
  padding-top: 5px;
  margin-bottom: 36px;
}

.white-title-container {
  padding-left: 76px;
  background: url("../images/white-list-icon.png") 19px 5px no-repeat;
}

.white-title {
  font-size: 28px;
  font-weight: 400;
  color: #000;
}

.white-subtitle {
  margin-bottom: 24px;
  padding-left: 2px;
  font-size: 13px;
  line-height: 15px;
  color: #9b9a9a;
}

.list, .list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  padding-left: 77px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  padding: 11px 20px 11px 19px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.white-favicon {
  width: 16px;
}

.white-favicon > img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.white-address {
  width: 800px;
  padding-left: 30px;
}

.white-address {
  font-size: 16px;
  color: #4a4a4a;
}

.del-btn {
  width: 14px;
  height: 14px;
  -webkit-mask-image: url("../images/del-site-icon.png");
  background-color: #b3b3b3;
  transition: all .2s linear;
  cursor: pointer;
}

.del-btn:hover {
  background-color: #aa3737;
}

.list-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 77px;
}

.add-site {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .2s linear;
}

.add-site-bg {
  width: 55px;
  height: 44px;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 4px 0 0 4px;
  transition: all .2s linear;
}

.add-site-bg:before {
  position: absolute;
  top: 13px;
  left: 25px;
  display: block;
  width: 15px;
  height: 16px;
  -webkit-mask-image: url("../images/plus-icon.png");
  background-color: #b3b3b3;
  transition: all .2s linear;
  content: "";
}

.add-site-bg:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(248, 248, 248, 0);
  border-left-color: #f8f8f8;
  border-width: 22px;
  margin-top: -22px;
  border-left-width: 13px;
  transition: all .2s linear;
}

.add-site-text {
  margin-left: 24px;
  color: #9b9a9a;
  line-height: 15px;
  border-bottom: 1px dashed #9b9a9a;
  transition: all .2s linear;
}

.add-site:hover .add-site-text {
  color: #4c7fd9;
  border-color: #4c7fd9;
}

.add-site:hover .add-site-bg {
  background-color: #4bae49;
}

.add-site:hover .add-site-bg:before {
  background-color: #fff;
}

.add-site:hover .add-site-bg:after {
  border-left-color: #4bae49;
}

.show-more {
  display: flex;
}

.list-count {
  margin-right: 15px;
  font-size: 13px;
  color: #9b9a9a;
}

.show-more-btn {
  padding-right: 17px;
  font-size: 13px;
  color: #4c7fd9;
  line-height: 16px;
  background: url("../images/bottom-arrow.png") 100% 7px no-repeat;
  cursor: pointer;
}

.show-more-btn.expanded {
  background-image: url("../images/top-arrow.png");
}

.show-more-btn:hover:after {
  border-bottom-color: transparent;
}

.show-more-btn:after {
  display: block;
  width: 100%;
  border-bottom: 1px solid #4c7fd9;
  transition: all .2s linear;
  content: "";
}

.add-white-form {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 862px;
  padding-left: 2px;
  background-color: #fff;
}

.add-white-text {
  width: 619px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
}

.add-white-text:focus {
  outline: none;
}

.add-white-submit {
  width: 163px;
  height: 44px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #4bae49;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #418c12;
  border: none;
  transition: all .2s linear;
  cursor: pointer;
}

.add-white-submit:hover {
  background-color: #2f982d;
  box-shadow: inset 0 -2px 0 0 #29790b;
}

.add-white-cancel {
  font-size: 13px;
  color: #9b9a9a;
  background-color: transparent;
  transition: all .2s linear;
}

.add-white-cancel:hover {
  color: #4c7fd9;
}

.show-hide-extended {
  display: flex;
  align-items: center;
  height: 39px;
  padding-left: 78px;
}

.show-hide-extended.hidden {
  background: url("../images/show-extended-icon.png") 19px 0 no-repeat;
}

.show-hide-extended.shown {
  background: none;
}

.show-extended-btn {
  color: #9b9a9a;
  line-height: 16px;
  border-bottom: 1px dashed #9b9a9a;
  cursor: pointer;
  transition: all .2s linear;
}

.show-extended-btn:hover {
  color: #4c7fd9;
  border-bottom-color: #4c7fd9;
}

.hidden .hide-extended-btn {
  display: none;
}

.shown .show-extended-btn {
  display: none;
}

.shown .hide-extended-btn {
  display: block;
}

.hide-extended-btn {
  font-size: 13px;
  color: #4c7fd9;
  line-height: 16px;
  border-bottom: 1px dashed #4c7fd9;
  cursor: pointer;
  transition: all .2s linear;
}

.hide-extended-btn:hover {
  border-bottom-color: transparent;
}

.filter-list-form .list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-list-title {
  height: 40px;
  margin-bottom: 24px;
  padding-left: 77px;
  font-size: 28px;
  line-height: 25px;
  color: #000000;
  background: url("../images/filter-list-title-icon.png") 20px 1px no-repeat;
}

.filter-update-date {
  padding-left: 3px;
  font-size: 13px;
  color: #9b9a9a;
}

.extended-container {
  padding-top: 30px;
}

.refresh-filters {
  display: flex;
  margin-top: -36px;
  margin-bottom: 24px;
}

.refresh-filters-btn {
  position: relative;
  display: flex;
  margin-left: auto;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #9b9a9a;
  cursor: pointer;
  transition: all .2s linear;
}

.refresh-filters-btn:hover {
  color: #4c7fd9;
}

.refresh-filters-btn:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: calc(100% - 26px);
  border-bottom: 1px solid transparent;
  transition: all .2s linear;
  content: "";
}

.refresh-filters-btn:hover:before {
  color: #4c7fd9;
  border-bottom: 1px solid #4c7fd9;
}

.refresh-filters-btn:after {
  display: block;
  width: 18px;
  height: 17px;
  margin-left: 8px;
  -webkit-mask-image: url("../images/refresh-arrow.png");
  background-color: #b3b3b3;
  transition: all .2s linear;
  content: "";
}

.refresh-filters-btn:hover:after {
  background-color: #858585;
}

.filter-checkbox {
  display: none;
}

.filter-checkbox-label {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
}

.filter-btn {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 56px;
  height: 24px;
  margin-right: 12px;
  background-color: #fff;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
}

.filter-btn-bg {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 25px;
  height: 20px;
  background-color: #b3b3b3;
  border-radius: 3px;
  z-index: 2;
  transition: all .15s linear;
}

.filter-checkbox:checked + .filter-checkbox-label .filter-btn-bg {
  left: 27px;
  background-color: #4bae49;
}

.filter-off,
.filter-on {
  position: relative;
  font-size: 11px;
  line-height: 22px;
  z-index: 3;
  transition: all .15s linear;
}

.filter-off {
  margin-left: 6px;
}

.filter-on {
  margin-left: 12px;
}

.filter-off,
.filter-checkbox:checked + .filter-checkbox-label .filter-on {
  color: #fff;
}

.filter-on,
.filter-checkbox:checked + .filter-checkbox-label .filter-off {
  color: #b3b3b3;
}

.user-filters-title {
  height: 39px;
  margin-bottom: 32px;
  padding-left: 77px;
  font-size: 28px;
  color: #000;
  background: url("../images/user-filters-icon.png") 22px 50% no-repeat;
}

.user-filters-form {
  padding-top: 39px;
}

.user-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-bottom: 3px;
}

.user-filter-text {
  width: 691px;
  height: 44px;
  padding-left: 15px;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #fff;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
}

.user-filter-text:focus {
  outline: none;
}

.user-filter-add-btn {
  width: 163px;
  height: 44px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #4bae49;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #418c12;
  border: none;
  transition: all .2s linear;
  cursor: pointer;
}

.user-filter-add-btn:hover {
  background-color: #2f982d;
  box-shadow: inset 0 -2px 0 0 #29790b;
}

.user-filter-add-btn:focus {
  outline: none;
}

.user-filter-description {
  margin-left: 80px;
  font-size: 13px;
  color: #9b9a9a;
}

.user-filters-list-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 861px;
  margin-top: 27px;
  margin-left: 80px;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.user-filters-list {
  width: 676px;
  padding-left: 14px;
  padding-top: 11px;
  background-color: #fff;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
  overflow: auto;
}

.user-filters-list:focus {
  outline: none;
}

.user-filters-list > option {
  margin-bottom: 1px;
}

.user-filters-list-btns-container {
  width: 138px;
}

.remove-filter-btn {
  width: 138px;
  height: 33px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #4bae49;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #418c12;
  transition: all .2s linear;
}

.remove-filter-btn:hover {
  background-color: #2f982d;
  box-shadow: inset 0 -2px 0 0 #29790b;
}

.edit-filter-btn {
  position: relative;
  margin-top: 9px;
  margin-left: 23px;
  font-size: 13px;
  color: #9b9a9a;
  background-color: #fff;
  transition: all .2s linear;
}

.edit-filter-btn:before {
  position: absolute;
  left: -23px;
  top: 2px;
  display: block;
  width: 17px;
  height: 17px;
  background-color: #b3b3b3;
  -webkit-mask-image: url("../images/edit-icon.png");
  transition: all .2s linear;
  content: "";
}

.edit-filter-btn:hover {
  color: #4c7fd9;
}

.edit-filter-btn:hover:before {
  background-color: #858585;
}

.other-rules-container {
  margin-bottom: 37px;
  padding-top: 39px;
}

.other-rules-title {
  margin-bottom: 36px;
  padding-left: 78px;
  font-size: 28px;
  color: #000;
  background: url("../images/other-rules-icon.png") no-repeat 15px 0;
}

.other-rules-checkbox-container {
  margin-left: 118px;
  margin-bottom: 16px;
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 13px;
    width: 10px;
  }
}

.other-rules-checkbox-label {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
}

.other-rules-checkbox-label:before {
  position: absolute;
  top: -2px;
  left: -40px;
  width: 25px;
  height: 25px;
  background-color: #f8f8f8;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  content: "";
}

.other-rules-checkbox-label:after {
  position: absolute;
  top: 10px;
  left: -35px;
  display: block;
  width: 10px;
  height: 13px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  content: '';
}

.other-rules-checkbox {
  display: none;
}

.other-rules-checkbox:checked + .other-rules-checkbox-label:after {
  animation: check 0.2s;
  border-color: #3aa138;
}

.add-filter-form {
  display: none;
  width: 862px;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  background-color: #fff;
}

.add-filter-form > .select-region {
  width: 790px;
  background-position: 770px 20px;
}

.edit-filters-container {
  display: none;
  justify-content: space-between;
  align-items: flex-start;
  width: 861px;
}

.edit-filters {
  width: 676px;
  height: 289px;
  padding-left: 14px;
  padding-top: 11px;
  background-color: #fff;
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  box-shadow: inset 3px 3px 0 0 rgba(0, 0, 0, 0.07);
  resize: none;
}

.edit-filters:focus {
  outline: none;
}

.edit-filters-btns-container {
  width: 140px;
}

.save-filter-btn {
  width: 138px;
  height: 33px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #4bae49;
  border-radius: 4px;
  box-shadow: inset 0 -2px 0 0 #418c12;
  border: none;
  transition: all .2s linear;
}

.save-filter-btn:hover {
  background-color: #2f982d;
  box-shadow: inset 0 -2px 0 0 #29790b;
}

.cancel-filter-btn {
  margin-top: 8px;
  padding-left: 1px;
  font-size: 13px;
  color: #9b9a9a;
  background-color: transparent;
  transition: all .2s linear;
}

.cancel-filter-btn:hover {
  color: #4c7fd9;
}

.no-region-alert {
  display: inline-block;
  margin-right: 5px;
  vertical-align: bottom;
  width: 20px;
  height: 15px;
  background: url("../images/alert.png") no-repeat;
}

.filter-update-date > .no-region-alert {
  vertical-align: sub;
}

.region-container.edit > .region-text,
.region-container.edit > .region-change-btn,
.white-container.edit > .list-controls > .add-site,
.white-container.edit > .list-controls > .show-more,
.filter-list-form.edit > .list-controls > .add-site,
.filter-list-form.edit > .list-controls > .show-more,
.user-filters-list-container.edit > .user-filters-list,
.user-filters-list-container.edit > .user-filters-list-btns-container {
  display: none;
}

.region-container.edit > .select-region-form,
.white-container.edit > .list-controls > .add-white-form,
.filter-list-form.edit > .list-controls > .add-filter-form,
.user-filters-list-container.edit > .edit-filters-container {
  display: flex;
}

.none {
    display: none;
}